<footer class="footer">
  <div class="container">
    {% if site.footer_menu %}
    <div class="columns is-multiline">
      {% for item in site.data[site.footer_menu] %}
      <div class="column has-text-centered">
        <div>
          <a href="{{ item.link | prepend: site.baseurl }}" class="link"
            >{{ item.name }}</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="content is-small has-text-centered">
      <p>
        <b
          >Copyright 2019 Matthew Middlebrook.
          <br class="is-hidden-tablet" />
          All images used on this site are taken or created by me.
          <br />
          All trademarks, product names, and logos appearing on this site are
          the property of their respective owners.
        </b>
      </p>

      <p class="">
        Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a>
      </p>
    </div>
  </div>
</footer>
