<section class="hero is-large" style="background: url('../assets/background.jpg') no-repeat center center; background-size: cover;">
    <section class="section">
        <div class="container">
            <div class="content">
                <div class="columns is-desktop">
                    <div class="column is-two-thirds-desktop is-one-half-widescreen is-three-fifths-fullhd">
                        <div class="box has-text-white" style="background-color: rgba(50, 50, 50, 0.75);">
                            <h1 class="has-text-white">My Story</h1>
                            <p>If you could have seen me as a kid, I probably would have been around technology.
                                Teachers at elementary school would always ask me if they had problems with technology,
                                because they knew that I would probably be able to help them.</p>
                            <p>Going into my Junior year of high school, I really didn't know what I wanted to do in
                                college and would often say that I was Undecided. Taking Digital and Interactive Media,
                                Graphic Design, and Computer Science in high school really helped shape me and help me
                                know what I wanted to do.</p>
                            <p>Towards the end of my Senior year, I decided to be apart of McKinney High School's
                                Literary Magazine. Though this after school club, we worked with the art and creative
                                writing departments to design a 100 page magazine showcasing MHS student's work.</p>
                            <p>I kept asking God what I should do, but I was completely unaware with all the signs he
                                was showing me. Everyone I asked what major I should be all told me the same thing:
                                Digital Entertainment Technology. Reading up about the major, I knew it was a perfect
                                fit for my skills. As I only applied to Abilene Christian University, people tried to
                                get me to apply or visit other colleges, but I knew in my heart that God had big plans
                                for me here.</p>
                            <p>However, my story doesn't stop there. At ACU, I have learned a tremendous amount about
                                myself and the world we live in. I cannot wait to see how God will use me to further his
                                kingdom.</p>
                        </div>
                    </div>
                    <div class="column">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="hero-body">
    </div>
</section>